/* Universal Styles*/

body {
  display: grid;
  gap: 1em;
  min-height: 100vh;
  background-color: #f5f5f7;
}
a {
  text-decoration: none;
  color: #f5f5f7;
}
header {
  display: flex;
  flex-direction: row;
  min-height: 150px;
  background-color: #f5f5f7;
  justify-content: space-around;
}
.logo {
  min-width: 70%;
}

.icons {
  margin-top: 20px;
  padding: 5px;
}
.container {
  margin: 2em;
}

.sales_text {
  max-width: 75%;
}

footer {
  background-color: #0a3641;
  display: flex;
  min-height: 120px;
  justify-content: space-around;
}
.cta {
  background-color: #0a3641;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
  position: relative;
  left: 70%;
}

/*Mobile styles*/

.main_image {
  background-image: url(../‘images’/main_image_sm.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  min-height: 20vh;
  position: relative;
}
.back_frontpage1 {
  background-image: url(../‘images’/frontpage_1_sm.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 20vh;
  position: relative;
}

.back_frontpage2 {
  background-image: url(../‘images’/frontpage_community_sm.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  min-height: 20vh;
  position: relative;
}
/*tablet styles*/

@media (min-width: 600px) {
  body {
    background-color: blue;
  }
  .main_image {
    background-image: url(../‘images’/main_image.png);
    min-height: 30vh;
  }
  .back_frontpage1 {
    background-image: url(../‘images’/frontpage_1.png);
    min-height: 30vh;
    background-position: center;
  }
  .back_frontpage2 {
    background-image: url(../‘images’/frontpage_community.png);
    min-height: 30vh;
  }
}
