/* Universal Styles*/

body {
  display: grid;
  gap: 0.2em;
  min-height: 100vh;
  background-color: #f5f5f7;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #f5f5f7;
}
header {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f7;
  justify-content: space-between;
}
nav a {
  color: #0a3641;
}

.search {
  display: none;
}
.icon {
  position: relative;
  top: 20px;
  right: 30px;
}
.logo_section {
  max-width: 60%;
}
.logo {
  width: 70%;
}

.desktop_only {
  display: none;
}
.desktop_heading {
  display: none;
}

.desktop_jackets {
  display: none;
}

.main_cta_desktop {
  display: none;
}
.container,
.container1,
.container2 {
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.sales_text {
  max-width: 75%;
}

footer {
  background-color: #0a3641;
  min-height: 120px;
  display: flex;
}

li,
li a {
  text-decoration: none;
  size: 2em;
  display: block;
}

.social_media {
  position: relative;
  left: 10%;
}
.social_text {
  color: #f5f5f7;
}

.fa-facebook-square {
  font-size: 40px;
  color: #4267b2;
}
.fa-instagram {
  font-size: 40px;
  color: #f4f6fa;
}
.fa-linkedin {
  font-size: 40px;
  color: #0072b1;
}
.fa-twitter {
  font-size: 40px;
  color: #1da1f2;
}
.cta {
  background-color: #0a3641;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
  position: relative;
  left: 70%;
}

.main_cta {
  background-color: #0a3641;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
  position: relative;
  left: 70%;
}
/*Mobile styles*/

.desktop_menu {
  display: none;
}

.main_image {
  background-image: url(../‘images’/main_image_sm.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 20vh;
  position: relative;
}
.back_frontpage1 {
  background-image: url(../‘images’/frontpage_1_sm.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 20vh;
  position: relative;
}

.back_frontpage2 {
  background-image: url(../‘images’/frontpage_community_sm.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  min-height: 20vh;
  position: relative;
}

/*tablet styles*/

@media only screen and (min-width: 600px) {
  .logo {
    min-width: 100%;
  }

  .main_image {
    background-image: url(../‘images’/main_image.png);
    min-height: 40vh;
  }
  .back_frontpage1 {
    background-image: url(../‘images’/frontpage_1.png);
    min-height: 40vh;
    min-width: 60%;
  }
  .back_frontpage2 {
    background-image: url(../‘images’/frontpage_community.png);
    min-height: 30vh;
    min-width: 60%;
  }
}

/*computer styles*/

@media only screen and (min-width: 900px) {
  .desktop_only {
    display: inline;
  }
  .container1 {
    display: none;
  }
  h1 {
    max-width: 300px;
    background-color: #f5f5f749;
    padding: 5% 2% 7% 2%;
    margin-left: 5%;
    color: #2d7f28;
  }

  .main_image {
    min-height: 10vh;
  }

  .container {
    flex-direction: row-reverse;
  }
  .container2 {
    flex-direction: row;
  }
  .text_frontpage {
    margin-left: 10px;
    margin-right: 10px;
  }

  .desktop_menu {
    display: inline;
    text-decoration: none;
    position: relative;
    top: 40%;
    right: 90%;
  }
  .icon {
    position: relative;
    left: 50%;
  }

  .search {
    display: inline;
    position: relative;
    left: 40%;
    top: 15%;
  }

  nav a {
    color: #0a3641;
    padding: 10px;
    text-decoration: none;
    display: inline;
  }
  li {
    display: inline;
    font-size: 1.5em;
  }
  .main_cta_desktop {
    display: inline;
    background-color: #0a3641;
    padding: 5%;
    border-radius: 10px;
    position: relative;
    top: 20px;
    left: 100px;
  }

  .desktop_heading {
    display: inline;
    text-align: center;
  }
  .best_selling_jackets {
    margin: 10px;
    border: solid;
    max-width: 30vh;
  }
  .desktop_jackets {
    display: flex;
    flex-direction: row;
    border: solid;
    justify-content: space-around;
  }
  .desktop_jackets_inside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .best_selling_jackets_images {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .color_swatches {
    margin-top: 5px;
    margin-left: 5px;
  }
  .price {
    margin-top: 5px;
    margin-left: 5px;
  }
  .best_selling_cart {
    font-size: 30px;
    position: relative;
    bottom: 40px;
    margin-right: 10px;
    float: right;
  }

  .jacket_name {
    text-align: center;
    margin-bottom: 10px;
  }
  .green {
    color: #2d7f28;
  }

  .military_green {
    color: #74713c;
  }

  .pink {
    color: #a25c57;
  }
  .blue {
    color: #0a3641;
  }
}
